-
	const dignity = [
		{
			title: 'Внимание к деталям',
			text: 'Идейные соображения, а также начало повседневной работы по формированию позиции.',
		},
		{
			title: 'Пунктуальность',
			text: 'Задача организации, в особенности же рамки и место обучения кадров влечет за собой.',
		},
		{
			title: 'Планирование',
			text: 'Равным образом консультация с широким активом в значительной степени обуславливает.',
		},
		{
			title: 'Современные технологии',
			text: 'Значимость этих проблем настолько очевидна, что реализация плановых заданий.',
		},
	];

.dignity
	.container
		ul.row
			each dignityItem in dignity
				li.col-3
					.dignity__item-title= dignityItem.title
					.dignity__item-text= dignityItem.text

