.footer
	.container
		a.footer__logo(href='#')
			| Web
			span.footer__logo--2 Studio
		.footer__address г. Киев, пр-т Леси Украинки, 26
		a.footer__email(href="mailto:info@example.com") info@example.com
		a(href="tel:+380991111111") +38 099 111 11 11
