extends pug/base


prepend vars
	//-

append vars
	//-

block content
	include pug/components/header
	include pug/components/banner
	include pug/components/dignity
	include pug/components/doing
	include pug/components/persons
	include pug/components/footer
